[Unit]
Description=Zen one-shot expired lease reap
Documentation=https://github.com/dodge1218/zen

[Service]
Type=oneshot
ExecStart=/usr/bin/env zen reap --once
